.centraliza-login-e-cadastro {
    width: 450px;
    margin: auto;
    top: 100px;
}

.site {
    margin-bottom: 20px;
}

.margin-bottom {
    margin-bottom: 1em;
}

.campo-form {
    width: 250px!important;
}

.inline {
    display: inline;
}